ADZUNA_APP_ID=
ADZUNA_APP_KEY=

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=career_copilot
MYSQL_USER=career_copilot
MYSQL_PASSWORD=career_copilot
# MYSQL_HOST=mysql       # default already correct inside docker compose
# MYSQL_HOST=127.0.0.1   # override to this when running the app locally, outside Docker
