ADZUNA_APP_ID=
ADZUNA_APP_KEY=

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=career_copilot
MYSQL_USER=career_copilot
MYSQL_PASSWORD=career_copilot
# MYSQL_HOST=mysql       # default already correct inside docker compose
# MYSQL_HOST=127.0.0.1   # override to this when running the app locally, outside Docker

# ELASTICSEARCH_URL=http://elasticsearch:9200  # default already correct inside docker compose
# ELASTICSEARCH_URL=http://127.0.0.1:9200      # override when running locally, outside Docker

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
# RABBITMQ_HOST=rabbitmq     # default already correct inside docker compose
# RABBITMQ_HOST=127.0.0.1    # override when running locally, outside Docker
